<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css">

        <!-- DataTables CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="/static/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css"> -->

        <!-- Select2 CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="/static/select2.min.css"> -->

        <!-- Overall CSS -->
        <link rel="stylesheet" type="text/css" href="/static/style.css">

        <!-- for JS socketio support-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <!-- Get channel from localStorage -->
        <script>go_to_channel()</script>
        <title>Flack</title>
    </head>
    <body>
    </body>
</html>
