<!DOCTYPE html>
<html>
    <head>
        <!-- for JS socketio support-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>Flack</title>
    </head>
    <body>
        <div id="displayed_username"></div>

        <section>
            <h1>Channels</h1>
            <ul id="channels_list">
            </ul>
        </section>

        <!-- Prevent the form from actually submitting and instead click the button.
        We want the user to have the same action on hitting enter as on the button click. -->
        <form id="channel_form" onsubmit="document.querySelector('#channel_submit').click(); return false;">
            <input id="channel" autocomplete="off" autofocus placeholder="Channel name" type="text">
            <button type="button" id="channel_submit">Submit</button>
        </form>

        <!-- Prevent the form from actually submitting and instead click the button.
        We want the user to have the same action on hitting enter as on the button click. -->
        <form id="username_form" onsubmit="document.querySelector('#username_submit').click(); return false;">
            <input id="username" autocomplete="off" autofocus placeholder="Username" type="text">
            <button type="button" id="username_submit">Submit</button>
        </form>

    </body>
</html>
